<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::main})}">

<head>
    <title>Painel do Aluno - Step By Step</title>
</head>
<main>
    <section class="contact-section">
        <div class="contact-map-header">
            <p class="section-kicker">Área do Aluno</p>
            <h1>Painel do Aluno</h1>
            <p>
                Esta é uma página temporária de dashboard do aluno.
            </p>
        </div>
    </section>
</main>

</html>
